<section class="container">
    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="requestPasswordReset(forgotPasswordForm.value)">
        <h3>Nie pamiętasz hasła?</h3>
        <hr />
        <div class="form-horizontal card card-body bg-light mb-2 mt-2">
            <div class="form-group row">
                <label for="email" class="control-label">Adres email</label>
                <input type="email" formControlName="email" id="email" class="form-control" />
                <small *ngIf="validateControl(forgotPasswordForm, 'email') && hasError(forgotPasswordForm, 'email', 'required')" class="error">Adres email jest wymagany.</small>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary btn-block" type="submit">Wyślij</button>
            </div>
        </div>
    </form>
</section>

<ng-template #messageModal>
    <app-message-modal [title]="modalTitle" [message]="modalMessage"></app-message-modal>
</ng-template>
