<section class="container">
  <form [formGroup]="employeeForm" autocomplete="off" novalidate (ngSubmit)="createEmployee(employeeForm.value)">
    <h3>Dodaj profil pracownika</h3>
    <hr />
    <div class="form-horizontal card card-body bg-light mb-2 mt-2">
      <h5>Dane podstawowe</h5>
      <hr />
      <div class="form-group row">
        <label for="firstName" class="control-label">Imię</label>
        <input type="text" formControlName="firstName" id="firstName" class="form-control" />
        <small *ngIf="validateControl(employeeForm, 'firstName') && hasError(employeeForm, 'firstName', 'required')">Imię jest wymagane.</small>
      </div>
      <div class="form-group row">
        <label for="lastName" class="control-label">Nazwisko</label>
        <input type="text" formControlName="lastName" id="lastName" class="form-control" />
        <small *ngIf="validateControl(employeeForm, 'lastName') && hasError(employeeForm, 'lastName', 'required')">Nazwisko jest wymagane.</small>
      </div>
      <div class="form-group row">
        <label for="sex" class="form-check-label form-check-inline">Płeć</label>
        <div class="form-check-inline">
          <input type="radio" name="sex" id="male" value="M" formControlName="sex" class="form-check-input" />
          <label for="male" class="form-check-label">mężczyzna</label>
        </div>
        <div class="form-check-inline">
          <input type="radio" name="sex" id="female" value="F" formControlName="sex" class="form-check-input" />
          <label for="female" class="form-check-label">kobieta</label>
        </div>
      </div>
    </div>
    <div class="form-horizontal card card-body bg-light mb-2 mt-2">
      <h5>Dane szczegółowe</h5>
      <hr />
      <div [formGroup]="detailsForm">
        <div class="form-group row">
          <label for="birthdate" class="control-label">Data urodzenia</label>
          <input type="date" formControlName="birthdate" id="birthdate" class="form-control" />
        </div>
        <div class="form-group row">
          <label for="streetAddress" class="control-label">Adres</label>
          <input type="text" formControlName="streetAddress" id="streetAddress" class="form-control" />
        </div>
        <div class="form-group row">
          <label for="city" class="control-label">Miasto</label>
          <input type="text" formControlName="city" id="city" class="form-control" />
        </div>
        <div class="form-group row">
          <label for="postalCode" class="control-label">Kod pocztowy</label>
          <input type="text" formControlName="postalCode" id="postalCode" class="form-control" />
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">Dodaj</button>
          <button type="button" class="btn btn-danger" (click)="redirectBack()">Wróć</button>
        </div>
      </div>
    </div>
  </form>
</section>
