<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand container" routerLink="/">Human Resources</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-search-menu></app-search-menu>
      <div class="navbar-collapse collapse justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              routerLinkActive="link-active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" routerLink="/">Strona główna</a>
          </li>
        </ul>
        <app-account-menu></app-account-menu>
      </div>
    </div>
  </nav>
</header>
