<section class="container">
    <form [formGroup]="userEditForm" autocomplete="off" novalidate (ngSubmit)="editUser(userEditForm.value)">
        <h3>Edytuj profil</h3>
        <hr />
        <div class="form-horizontal card card-body bg-light">
            <div class="form-group row">
                <label for="firstName" class="control-label">Imię</label>
                <input type="text" formControlName="firstName" id="firstName" readonly class="form-control" />
            </div>
            <div class="form-group row">
                <label for="lastName" class="control-label">Nazwisko</label>
                <input type="text" formControlName="lastName" id="lastName" readonly class="form-control" />
            </div>
            <div class="form-group row">
                <label for="birthdate" class="control-label">Data urodzenia</label>
                <input type="date" formControlName="birthdate" id="birthdate" readonly class="form-control" />
            </div>
            <div class="form-group row">
                <label for="city" class="control-label">Miasto</label>
                <input type="text" formControlName="city" id="city" class="form-control" />
            </div>
            <div class="form-group row">
                <label for="phoneNumber" class="control-label">Numer telefonu</label>
                <input type="tel" formControlName="phoneNumber" id="phoneNumber" class="form-control" />
            </div>
        </div>
    </form>
</section>