<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/user" title="Twój profil">Twój profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/account/logout" [state]='{ local: true }' title="Wyloguj się">Wyloguj się</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
    <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/account/register" title="Zarejestruj się">Zarejestruj się</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/account/login" title="Zaloguj się">Zaloguj się</a>
    </li>
</ul>
  