<section class="container">
  <h3>Lista pracowników</h3>
  <hr />
  <button class="btn btn-outline-primary" (click)="redirectToCreate()">Dodaj nowego pracownika</button>
  <div class="table-responsive card card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Imię i nazwisko</th>
          <th>Stanowisko</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName + ' ' + employee.lastName }}</td>
          <td>{{ employee.position.name }}</td>
          <td class="btn-group">
            <button type="button" class="btn btn-primary" (click)="redirectToDetails(employee.id)" >Szczegóły</button>
            <button type="button" class="btn btn-primary" (click)="redirectToUpdate(employee.id)">Edytuj</button>
            <button type="button" class="btn btn-danger">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
